<div class="container">
  <div class="row justify-content-center" style="margin-top: 5rem;">
      <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Felicidades!</strong> Aquì puede <a download="cv-ezequiel-olivera.pdf" href="/src/programs/cv-ezequiel-olivera.pdf" class="alert-link">Descargar</a>  orden de compra.
    </div>
  </div>
</div>