
<div class="row justify-content-center">
    <div class="col-xs-10 col-sm-5 col-md-4 col-lg-4">
        <div class="card" style="max-width: 100%; margin-top: 20px;">
          <img style="height: 200px; width: 100%; display: block;" src="https://images.pexels.com/photos/4559527/pexels-photo-4559527.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">McBook Pro</h4>
<<<<<<< HEAD
            <h6 class="card-subtitle mb-2 text-muted">$1200,00 DLS</h6>
=======
            <h6 class="card-subtitle mb-2 text-muted">u$s 1200,00</h6>
>>>>>>> 278db53ab5bbb74747d5c00bc9cc66fa1210145a
            <p class="card-text">La nueva MacBook Pro es la notebook más poderosa de Apple, creada para quienes se proponen nuevos desafíos y logran cosas imposibles.</p>
            <form action="/payments" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_51H07BXL0Vs2q39zFlBb6uBslVaqhUulYCSjbwQgfQsrP2XbMDKnPFPZABOnpg2gsDSNQjImBodN148lD3A1ktsmS007bjF57D1"
                    data-amount="120000"
                    data-name="EzequielStore"
                    data-description="McBook Pro"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                ></script>
            </form>
        </div>
    </div>
    </div>
    
</div>